<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.sulv.mybatis.Idao.AttentionMapper">
  <resultMap id="BaseResultMap" type="team.sulv.mybatis.po.Attention">
    <id column="follower_id" jdbcType="INTEGER" property="followerId" />
    <id column="by_follower_id" jdbcType="INTEGER" property="byFollowerId" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
    <resultMap id="UserMap" type="team.sulv.mybatis.po.User"><!-- 封装成User类返回 -->
		<id column="user_id" jdbcType="INTEGER" property="userId" /><!--设置主键 -->
		<result column="user_name" jdbcType="VARCHAR" property="userName" />
		<result column="password" jdbcType="INTEGER" property="password" />
		<result column="sex" jdbcType="VARCHAR" property="sex" />
		<result column="education" jdbcType="VARCHAR" property="education" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="fans_num" jdbcType="INTEGER" property="fansNum" />
		
	</resultMap>
  		<select id="getFans" parameterType="team.sulv.mybatis.po.AttentionKey"  resultMap="UserMap">
		SELECT `user`.*
        FROM attention ,`user`
        WHERE attention.by_follower_id=#{byFollowerId,jdbcType=INTEGER}
       AND user_id=follower_id
	</select>
	 	<select id="getAttention" parameterType="team.sulv.mybatis.po.AttentionKey"  resultMap="UserMap">
		SELECT `user`.*
        FROM attention ,`user`
        WHERE attention.follower_id=#{followerId,jdbcType=INTEGER}
       AND user_id=by_follower_id
	</select>
  <sql id="Base_Column_List">
    follower_id, by_follower_id, state
  </sql>
  <select id="selectByPrimaryKey" parameterType="team.sulv.mybatis.po.AttentionKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from attention
    where follower_id = #{followerId,jdbcType=INTEGER}
      and by_follower_id = #{byFollowerId,jdbcType=INTEGER}
  </select>
 
  <delete id="deleteByPrimaryKey" parameterType="team.sulv.mybatis.po.AttentionKey">
    delete from attention
    where follower_id = #{followerId,jdbcType=INTEGER}
      and by_follower_id = #{byFollowerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="team.sulv.mybatis.po.Attention">
    insert into attention (follower_id, by_follower_id, state
      )
    values (#{followerId,jdbcType=INTEGER}, #{byFollowerId,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="team.sulv.mybatis.po.Attention">
    insert into attention
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="followerId != null">
        follower_id,
      </if>
      <if test="byFollowerId != null">
        by_follower_id,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="followerId != null">
        #{followerId,jdbcType=INTEGER},
      </if>
      <if test="byFollowerId != null">
        #{byFollowerId,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="team.sulv.mybatis.po.Attention">
    update attention
    <set>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where follower_id = #{followerId,jdbcType=INTEGER}
      and by_follower_id = #{byFollowerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="team.sulv.mybatis.po.Attention">
    update attention
    set state = #{state,jdbcType=INTEGER}
    where follower_id = #{followerId,jdbcType=INTEGER}
      and by_follower_id = #{byFollowerId,jdbcType=INTEGER}
  </update>
    <update id="clearA" parameterType="team.sulv.mybatis.po.AttentionKey">
UPDATE attention
SET `attention`.state=0
WHERE
#{byFollowerId,jdbcType=INTEGER}=attention.by_follower_id

  </update>
</mapper>